<article class="about-section py-5">
    <div class="container">
        <h2 class="title mb-3">Sobre mí</h2>

        <p>Reciba(n) de antemano un cordial saludo de mi parte. Mi nombre es <b>Leyton Manuel Espitia Diaz</b>, soy
            Analista y Desarrollador de Sistemas con 12 años de experiencia como desarrollador full stack (implementando
            tecnologías .Net Framework), modelamiento de base de datos, diseñador gráfico, marketing digital y community
            manager. Mediante el presente documento, me permito entregar mi currículo de vida, para que se sirva(n)
            estudiarlo según el perfil del cargo que usted(es) solicita(n).</p>

        <div class="blog-post">
            <figure>
                <img class="img-fluid" src="assets/images/about-me.jpg" alt="image">
                <figcaption class="mt-2 text-center image-caption">Creditos de la imagen: <span>Leyton Manuel Espitia Diaz</span></figcaption>
            </figure>
        </div>

        <h5 class="mt-5">¿Qué es un programador Fullstack?</h5>
        <p>El desarrollo de la programación de una web o de una app web puede dividirse en dos: programación del
            Frontend y programación del Backend. Ambas son llevadas a cabo por un programador.</p>
        <p class="mb-5">El <strong>frontend</strong> es la parte visual, la "<strong>fachada</strong>", la
            <strong>interfaz</strong>, se encuentra en la parte del cliente. En cambio, el backend es la parte que no
            vemos, la que se encuentra en la parte del servidor y procesa la información recibida a través del frontend.
            De cada uno de estos aspectos se encargan el programador Frontend y el programador Backend, pero también
            existe un tercer tipo de programador, el programador Fullstack, que es el que maneja ambas programaciones.
        </p>

        <h5>¿Qué hace un programador .NET?</h5>
        <p>Un programador .NET, es un profesional responsable de diseñar, adaptar y desarrollar aplicaciones de software
            de acuerdo a las necesidades de una empresa. <strong>El programador .NET se encarga de crear una solución
                informática, especialmente en programación orientada a objetos. </strong> </p>
        <p>El entorno de trabajo de un programador .NET es una estructura conceptual y tecnológica. Generalmente incluye
            soporte de programas y bibliotecas, para así ayudar a desarrollar y unir diferentes componentes de un
            proyecto. </p>
        <p class="mb-5">Dentro de las principales responsabilidades de un programador .NET se encuentra el resolver
            problemas donde
            el marco de trabajo del framework es un conjunto estandarizado de conceptos, prácticas y criterios para
            enfocar un tipo de problemática que sirva como referencia. </p>

        <h5>¿Qué debe saber un programador .NET?</h5>
        <div class="mb-5">
            <ul>
                <li>Framework .NET</li>
                <li>C#</li>
                <li>Visual Basic</li>
                <li>ASP.NET</li>
                <li>JavaScript</li>
                <li>Angular 11+</li>
                <li>Lenguajes de scripting </li>
                <li>MVC</li>
                <li>WPF</li>
                <li>MVVM</li>
                <li>.NET Core</li>
                <li>.Net Standard</li>
                <li>SQL</li>
                <li>Entity Framework</li>
            </ul>
        </div>

        <div class="blog-post">
            <figure>
                <figure><img class="img-fluid" src="assets/images/promo-banner.jpg" alt="image"></figure>
                <figcaption class="mt-2 text-center image-caption">Creditos de la imagen: <span>Leyton Manuel Espitia Diaz</span></figcaption>
            </figure>
        </div>
    </div>
</article>