<header class="header text-center">	    
    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="index.html">Leyton E. Blog</a></h1>
    
    <nav class="navbar navbar-expand-lg navbar-dark" >
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/profile.png" alt="image" >			
                
                <div class="bio mb-3">Hola, mi nombre es Leyton M. Espitia Diaz. Soy un Colombiano que se dedica, al analisis y desarrollador de software.<br><a routerLink="/sobre-mi">Descubre más sobre mí</a></div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr> 
            </div><!--//profile-section-->
            
            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/inicio"><i class="fas fa-home fa-fw me-2"></i>Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/sobre-mi"><i class="fas fa-user fa-fw me-2"></i>Sobre mí</a>
                </li>
            </ul>
            
            <div class="my-2 my-md-3">
                <a class="btn btn-primary" href="https://github.com/notyel/FactureBlog" target="_blank">Repositorio Git</a>
            </div>
        </div>
    </nav>
</header>
