<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading">Facture - Prueba técnica FRONT-END </h2>
        <div class="intro">Busca el contenido de tu interés en el amplio catálogo de artículos que tenemos en nuestro sitio web.</div>
        <div class="single-form-max-width pt-3 mx-auto">
            <div class="signup-form row g-2 g-lg-2 align-items-center">
                <div class="col-12 col-md-9">
                    <label class="sr-only" for="semail">Buscar Articulo</label>
                    <input (keyup.enter)="searchPost(txtSearch.value)" #txtSearch
                        type="email" id="semail" name="semail1" class="form-control me-md-1 semail"
                        placeholder="Buscar articulo de interés...">
                </div>
                <div class="col-12 col-md-2">
                    <button type="submit" (click)="searchPost(txtSearch.value)" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-loader *ngIf="isLoading"></app-loader>
<section *ngIf="!isLoading" class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        
        <div class="item mb-5" *ngFor="let post of postsFilterList">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="assets/images/blog/blog-post-thumb-1.jpg" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" [routerLink]="['/post', post.id ]">{{ post.title }}</a>
                    </h3>
                    <div class="meta mb-1"><span class="date">No te pierdas de este interesante articulo - blog post</span></div>
                    <div class="intro">{{ post.body }}</div>
                    <a class="text-link" [routerLink]="['/post', post.id ]">Leer más&rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>