<article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{ post.title }}</h2>
            <div class="meta mb-3"><span class="date">Autor: {{ userBlog.name }}</span><span class="time">{{ userBlog.email }}</span><span class="comment"><span>{{ comments.length }} comentarios</span></span></div>
        </header>
        
        <div class="blog-post-body">
            <figure class="blog-banner">
                <img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image">
                <figcaption class="mt-2 text-center image-caption">Creditos de la imagen: <span>Leyton Manuel Espitia Diaz</span></figcaption>
            </figure>
            <p> 
                {{ post.body }}
            </p>
        </div>
        
        <div class="blog-comments-section" id="comments">
            <div id="disqus_thread">
                <h3 class="title mb-3">Comentarios:</h3>
                <div class="list-group">
                    <a href="javascript:void(0)" class="list-group-item list-group-item-action" *ngFor="let comment of comments">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ comment.name }}</h5>
                        <small>{{comment.email }}</small>
                      </div>
                      <p class="mb-1">{{ comment.body }}</p>
                    </a>
                  </div>
            </div>
        </div>
    </div>
</article>
